@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    /* background-color: rgb(195,245,60); */
    background-color: darkgreen;
    font-family: 'Outfit', sans-serif;
}

ul {
    list-style: none;
}

  
.coinlist-image {
    width: 6%;
}
  
.coinlist-item {
    display: flex;
}
  
 
.coin-data-category {
    font-size: 45px;
}
  
  /* Tried to remove the underline in the numbers on the coin summary page */
.Link {
    text-decoration: none;
}

.coinlist {
    border-color: white;
    border-style: outset;
  }

  .coin-data-image {
      width: 15%;
      height: 15%;
  }

  .coinlist-name {
      text-decoration: none;
  }