@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    /* background-color: rgb(195,245,60); */
    background-color: #061121;
    font-family: 'Outfit', sans-serif;
}

ul {
    list-style: none;
}

  
.coinlist-image {
    width: 6%;
}
  
.coinlist-item {
    display: flex;
}
  
 
.coin-data-category {
    font-size: 45px;
}
  
  /* Tried to remove the underline in the numbers on the coin summary page */
.Link {
    text-decoration: none;
}

.coinlist {
    border-color: white;
    border-style: outset;
  }

  .coin-data-image {
      width: 12%;
      height: 12%;
  }

  .coinlist-name {
      text-decoration: none;
  }

  .delete-btn {
      display: none;   
      
  }

  .coin:hover .delete-btn {
      display: inline-block;
  }

  .header-name {
      margin-left: 185px;
      font-size: larger;
  }

  .header-price {
      margin-left: 250px;
      font-size: larger;
  }
  
  .header-price-change {
      margin-left: 200px;
      font-size: larger;
  }

  